// Import Bootstrap Compass integration
@import "bootstrap-compass"
// Import custom Bootstrap variables
@import "bootstrap-variables"
// Import Bootstrap for Sass
@import "bootstrap"

body
  margin: 0
  padding: 0

#map_container
  height: 100%
  width: 100%
